@use "sass:color";

// Основні кольори
$primary-color: #eae4e4; // темна панель зліва
$secondary-color: #ffffff; // фон справа
$accent-color: #097322;
$text-color: #444;
$light-gray: #f8f8f8;
@use "./sidebar";

// Шрифти
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: $text-color;
  background-color: $secondary-color;
  margin: 0;
  padding: 0;
}

.photo {
  width: 250px;          /* ширина круга */
  height: 250px;         /* висота круга */
  object-fit: cover;     /* обрізає і зберігає пропорції */
}

// Контейнер резюме
.resume {
  display: flex;
  min-height: 100vh;
}



// Права панель
.main {
  flex: 1;
  padding: 0;
  margin-left: 120px;
  section {
    margin-bottom: 30px;

    h3 {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: bold;
      color: $accent-color;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .job-experience {
    .job {
      margin-bottom: 20px;

      h4 {
        font-size: 16px;
        margin-bottom: 5px;
      }

      .date {
        font-size: 13px;
        font-style: italic;
        color: gray;
      }
    }
  }

  // Навички
  .skills {
    .skill {
      margin-bottom: 10px;

      span {
        display: block;
        font-size: 14px;
        margin-bottom: 4px;
      }

      .progress {
        height: 6px;
        background: $light-gray;
        border-radius: 3px;

        .progress-bar {
          background: $primary-color;
        }
      }
    }
  }

  // Мови та хобі
  .languages, .hobbies {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        font-size: 14px;
        margin-right: 15px;
        margin-bottom: 5px;
      }
    }
  }
}
