body {
  font-family: Nunito, sans-serif;
  background-color: #4BE3D5;
}

.header {
  text-align: center;
  color: white;
  background-color: #630651;
}
.content {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
