<section class="mb-4">
    <div class="d-flex align-items-center mb-4 experience-header">
        <div class="job-icon-wrapper me-3">
            <svg viewBox="0 0 24 24" width="24" height="24">
                <path d="M15 6V5C15 3.89543 14.1046 3 13 3H11C9.89543 3 9 3.89543 9 5V6M12 12V16M4 16V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V16M6 14H18C19.1046 14 20 13.1046 20 12V8C20 6.89543 19.1046 6 18 6H6C4.89543 6 4 6.89543 4 8V12C4 13.1046 4.89543 14 6 14Z"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
            </svg>
        </div>
        <h2 class="job-experience-title mb-0">JOB EXPERIENCE</h2>
        <i class="fa-solid fa-chevron-down toggle-arrow ms-2"></i>
    </div>
    <div class="collapsible-content">
    <div class="mb-4 job-entry">
        <div class="d-flex justify-content-between">
            <div class="job-details-left">
                <strong class="job-title-text">SENIOR WEB DESIGNER</strong><br>
                <span class="company-text">Creative Agency / Chicago</span>
            </div>
            <div class="job-time-text">2020 - Present</div>
        </div>
        <p class="job-description mt-2">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when unknown printer took a galley of type.
        </p>
    </div>

    <div class="mb-4 job-entry">
        <div class="d-flex justify-content-between">
            <div class="job-details-left">
                <strong class="job-title-text">GRAPHIC DESIGNER</strong><br>
                <span class="company-text">Creative Market / Chicago</span>
            </div>
            <div class="job-time-text">2015 - 2020</div>
        </div>
        <p class="job-description mt-2">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when unknown printer took a galley of type.
        </p>
    </div>

    <div class="job-entry">
        <div class="d-flex justify-content-between">
            <div class="job-details-left">
                <strong class="job-title-text">MARKETING MANAGER</strong><br>
                <span class="company-text">Manufacturing Agency / NJ</span>
            </div>
            <div class="job-time-text">2013 - 2015</div>
        </div>
        <p class="job-description mt-2">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when unknown printer took a galley of type.
        </p>
    </div>
    </div>
</section>