body {
  font-family: 'Helvetica Neue', Arial, sans-serif;

  margin: 0;
  padding: 0;
}
// Права панель
.main {
  flex: 1;
  padding: 0;
  margin-left: 120px;

  section {
    margin-bottom: 30px;
  }
}

.collapsible-content {
  overflow: hidden;
  transition: max-height 0.4s ease;
  max-height: 1000px;
}

.collapsible-content.hidden {
  max-height: 0;
}

.toggle-arrow {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggle-arrow.rotate {
  transform: rotate(180deg);
}

